.list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  list-style-type: none;
}

.list-item:first-child {
  border-top: none;
}

.list-item {
  display: flex;
  align-items: center;
  margin:0;
  padding: 8px 16px;
  text-indent: 0;
  list-style-type: none;

  height: 40px;
  border-top: 1px solid black;
}

.list-item:hover {
  cursor: pointer;
  background-color: lightgray;
}

.list-item-placeholder {
  color: gray;
}

.list-item-placeholder:hover {
  cursor:not-allowed;
  background-color: transparent;
}

.list-item-selected {
  background-color: lightgray;
}